FreenoveRobot/tc.py
.idea/
MetalPhoenix/.idea/
MetalPhoenix/robot/src/__pycache__/
MetalPhoenix/robot/src/tools/__pycache__/
MetalPhoenix/robot/src/tools/coppeliaAPI/__pycache__/
MetalPhoenix/robot_redis/src/__pycache__/
MetalPhoenix/robot_redis/src/tools/__pycache__/
MetalPhoenix/robot_redis/src/tools/coppeliaAPI/__pycache__/
FreenoveRobot/__pycache__/
FreenoveRobot/lib/__pycache__/
FreenoveRobot/cluster/__pycache__/
FrenoveRobot/lib/librd/__pychache__/
FreenoveRobot/lib/libctrl/__pycache__/
FreenoveRobot/lib/libMPU6050/__pycache__/
FreenoveRobot/lib/robotAPI/__pycache__/
FreenoveRobot/data/logs/
MetalPhoenix/robot/resources/data/logs/
MetalPhoenix/robot_redis/resources/data/logs/
